* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #DBEEEE;
    height: 100vh;
    font-family: SF Compact Display, sans-serif;
    padding: 30px 30px 30px 0;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(14, auto);

}

.main-content__text {
    grid-column: 1/7;
    grid-row: 1/8;
    padding: 91px 68px 0px 30px;
}

.main-content__text p {
    color: #000000;
    margin-block-start:0;
    margin-block-end:1em;
    font-family: SFCompactDisplay-Ultralight, sans-serif  ;
    font-weight: 100;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.055em;
}


