.main-content__api {
    grid-column: 1/7;
    grid-row: 8/15;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.main-content__api::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #C4C4C4;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
}



.main-content__elepse {
    margin-top: 25px;
    width: 462px;
    height: 450px;
    background-color: #E4D7B9;
    border-radius: 50%;
    clip-path: inset(0 0 0 47px);
    margin-left: -47px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

.main-content__rectangle {
    display: flex;
    margin-top: 41px;
    width: 167px;
    height: 554px;
    background-color: #BDDDDD;
    border-radius: 20px 0 0 20px;
    overflow-y: hidden;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}


.main-content__squares {
    display:flex;
    flex-direction:column;
    width: 100%;
    height: auto;
    gap:20px;
    align-items: center;
    margin-top: 17px;
}

.main-content__light {
    width: 100%;
    height: auto;
}