button {
    height: 76px;
    width: 100%;
    border: none;
    cursor: pointer;
}
.day-night {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;

}
.day-night__day {
 background: #FFF3DA;
 border-radius:  0 0 0 20px;
}

.day-night__night {
 background:#94A6A6
}